@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height:100%;
  overflow-x: hidden;
}

.swiper-button-next { color: white !important; }
.swiper-button-prev { color: white !important; }
